<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Регистрация</title>
    <link type="image/png" sizes="320x320" rel="icon" href="./images/icon.png" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script src="./scripts/randomBG.js"></script>
  </head>
  <body id="body">
    <div class="container">
      <%- include('../layouts/header') -%>

      <div class="content">
        <h1 style="text-align: center; font-size: 28px; margin: 4px">Регистрация</h1>
        <form class="form_center" action="/registration" method="post">
          <label for="username">Никнейм</label>
          <input type="text" name="username" id="username" />
          <label for="password">Пароль</label>
          <input type="password" name="password" id="password" />
          <button class="button">Зарегистрироваться</button>
        </form>

        <% for (let i = 0; i < (msg.messages).length; i++) { %> <% if (msg.code == "ERROR") { %>
        <p style="color: red"><%= msg.messages[i] %></p>
        <% } else { %>
        <p style="color: green"><%= msg.messages[i] %></p>
        <% } %> <% }; %>
      </div>

      <%- include('../layouts/footer') -%>
    </div>
  </body>
</html>
