<header>
  <a href="./">Учет пропусков</a>
  <div class="navbar" id="navbar">
    <button id="navbar_btn"></button>
    <div class="navbar_menu" id="navbar_menu">
      <a href="/groups.html">Пропуски</a>
    </div>

    <script>
      const menu = document.getElementById("navbar_menu");
      const navbar = document.getElementById("navbar");
      const btn = document.getElementById("navbar_btn");
      menu.style.display = "none";
      btn.addEventListener("click", () => {
        if (menu.style.display) {
          navbar.style.boxShadow = "0 0 4px black";
          menu.style.display = "";
        } else {
          navbar.style.boxShadow = "";
          menu.style.display = "none";
        }
      });
    </script>
</header>
